.gutter-box {
    padding: 5px 0;
    background: #00a0e9;
}

.gutter-box:hover {
	background-color: darkblue;
	border: 5px solid black;
}

.app-menu-link {
	color: black;
}

.app-menu-link:hover {
	color: black;
	background: darkblue;
	background-color: darkblue;
	border: 5px solid black;
}